## Reduction of the dataset to FAANG (Facebook,Amazon,Apple,Netflix,Google)

see kagle https://www.kaggle.com/aayushmishra1512/faang-complete-stock-data

In [21]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
df = pd.read_csv('Datasets/Amazon.csv')

In [14]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5847,2020-08-10,3170.310059,3172.510010,3101.520020,3148.159912,3148.159912,3167300
5848,2020-08-11,3113.199951,3159.219971,3073.000000,3080.669922,3080.669922,3718100
5849,2020-08-12,3108.000000,3174.389893,3101.419922,3162.239990,3162.239990,3527200
5850,2020-08-13,3182.989990,3217.520020,3155.000000,3161.020020,3161.020020,3149000
5851,2020-08-14,3178.179932,3178.239990,3120.000000,3148.020020,3148.020020,2749200

In [16]:
grouped = df.groupby(df.Date)

In [31]:
df.Date

0      1997-05-15
1      1997-05-16
2      1997-05-19
3      1997-05-20
4      1997-05-21
          ...
5847   2020-08-10
5848   2020-08-11
5849   2020-08-12
5850   2020-08-13
5851   2020-08-14
Name: Date, Length: 5852, dtype: datetime64[ns]

In [33]:
mask = (df.Date > '2018-1-1') & (df.Date <= '2020-1-1')

In [34]:
print(df.loc[mask])

           Date         Open         High          Low        Close  \
5192 2018-01-02  1172.000000  1190.000000  1170.510010  1189.010010
5193 2018-01-03  1188.300049  1205.489990  1188.300049  1204.199951
5194 2018-01-04  1205.000000  1215.869995  1204.660034  1209.589966
5195 2018-01-05  1217.510010  1229.140015  1210.000000  1229.140015
5196 2018-01-08  1236.000000  1253.079956  1232.030029  1246.869995
...         ...          ...          ...          ...          ...
5690 2019-12-24  1793.810059  1795.569946  1787.579956  1789.209961
5691 2019-12-26  1801.010010  1870.459961  1799.500000  1868.770020
5692 2019-12-27  1882.920044  1901.400024  1866.010010  1869.800049
5693 2019-12-30  1874.000000  1884.000000  1840.619995  1846.890015
5694 2019-12-31  1842.000000  1853.260010  1832.229980  1847.839966

        Adj Close   Volume
5192  1189.010010  2694500
5193  1204.199951  3108800
5194  1209.589966  3022100
5195  1229.140015  3544700
5196  1246.869995  4279500
...           ...      ...
5690  1789.209961   881300
5691  1868.770020  6005400
5692  1869.800049  6186600
5693  1846.890015  3674700
5694  1847.839966  2506500

[503 rows x 7 columns]